*{
    margin: 0;
    padding: 0;
}

.navdf ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:0 0 0 800px;
}
.navdf ul li a{
    text-decoration: none;  
    display: flex;
    padding:10px ;
}

