*{
    margin: 0;
    padding: 0;
    color: white;
}
/* Header CSS */
body{
    background-image: url(BgImag.jpg);
    background-size: cover;
}
.navdf ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding:0 3rem;
}
.navdf ul li a{
    text-decoration: none;  
    display: flex;
    padding:0.8rem ;
    opacity: 0.8;
    font-size: 1rem;
}

.navdf ul li a:hover{
    opacity: 1.5;
    color: yellow;
    text-decoration: none;
    font-weight:690;
}

/* Main content CSS*/
.home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5rem -8rem;
}
.content{
    font-size: 2.5rem;
    margin: 4rem;
}

.Myimg{
    border: 2px red solid;
    border-radius: 50%;
}